@import "compass/reset";
@import "compass/css3";

body {
  font-family: Arial;
  text-align: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  li {
    display: inline-block;
  }
}

.mask {
  background-size: cover;
  background: url("../images/top.jpg") no-repeat;
}

.top-container {
  height: 720px;
  background-color: rgba(53, 126, 189, 0.4);

  .center {
    vertical-align: middle;
    align-content: center;
  }
}

.float-left {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.float-right {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
